</br>
</br>
{% if page.header.content.autori %}
    <h5> {{ page.header.content.autori}}</h5></h6>
{% endif%}

{% if page.header.content.collab %}
    <h6>In collaborazione con:</h6> <h5>{{ page.header.content.collab}}</h5>
{% endif%}

{% if page.header.content.date %}
    <h5>Dal {{ page.header.content.date }}</h5></a>
{% endif%}

{% if page.header.content.luogo %}
    <h5>{{ page.header.content.luogo }}</h5>
{% endif%}

{{ page.content| raw}}
